<table id="evm-indicator-table" border="1">
  <tr>
    <th><%= l(:project_duration) %></th>
    <th>BAC</th>
    <th>Complete EV</th>
    <th>PV</th>
    <th>EV</th>
    <th>AC</th>
    <th>SV</th>
    <th>CV</th>
    <th>SPI</th>
    <th>CPI</th>
  </tr>
  <tr>
    <%= project_duration(basis_date, evm) %>
    <td><%= evm.bac(working_hours_per_day) %></td>
    <td><%= evm.complete_ev(working_hours_per_day) %></td>
    <td><%= evm.today_pv(working_hours_per_day) %></td>
    <td><%= evm.today_ev(working_hours_per_day) %></td>
    <td><%= evm.today_ac(working_hours_per_day) %></td>
    <td><%= evm.today_sv(working_hours_per_day) %></td>
    <td><%= evm.today_cv(working_hours_per_day) %></td>
    <td><%= evm.today_spi(working_hours_per_day) %></td>
    <td><%= evm.today_cpi(working_hours_per_day) %></td>
  </tr>
</table>
<br>
